# dependencies
node_modules/
.pnp
.pnp.js

# moonrepo
.moon/cache/
.moon/docker/

# testing
coverage/

# production
build/
dist/
out/
.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
